{% extends "base.html" %}

{% block content %}
    <div class="content-wrapper">
        <div class="content is-center">
            <h2 class="content-head is-center">Login</h2>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="pure-u-1-2">
                        {% for category, message in messages %}
                            <div class="pure-alert pure-alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            <form class="pure-form pure-form-aligned" method=post action="">
                <fieldset>
                    <div class="pure-control-group">
                        <label for="client_token">Client Token</label>
                        <input type="text" id="client_token" name="client_token" placeholder="Client Token" />
                    </div>
                    <div class="pure-control-group">
                        <label for="group-token">Group Token</label>
                        <input type="password" id="group-token" name="group-token" placeholder="Group Token" />
                    </div>
                    <div class="pure-controls">
                        <button type="submit" class="pure-button pure-button-primary">Submit</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}