{% macro loc_table(location, client) %}
<div class="pure-u-1 pure-u-md-1-2 pure-u-lg-1-3">
    <div class="logging-table">
        {% set count_style = '' %}
        {% if location.usage >= location.capacity %}
            {% set count_style = 'background: #FA4224;' %}
        {% endif %}
        <div class="logging-table-header" style="{{ count_style }}">
                        <span class="logging-table-count">
                            {{ location.code }}
                            <span class='logging-table-count'>{{ location.usage }}/{{ location.capacity }}</span>
                        </span>
        </div>
        <ul class="logging-table-list">
            {% if location.name %}
                <li>{{ location.name }}</li>
            {% endif %}
            <li>{{ location.address }}</li>
            <li><a href="mailto:{{ location.email }}">{{ location.responsible }}</a></li>
        </ul>
        {% set present, present_location = client.is_present(True)  %}
        {% if not present %}
            {% if location.usage < location.capacity %}
                <form method=post action="{{ url_for('main.log_enter_now') }}">
                    <input id="location_code" name="location_code" type="hidden" value="{{ location.code }}">
                    <input type=submit class="pure-button button-in" value="ENTER">
                </form>
            {% else %}
                <div class="no-button">
                    <p>This location is at capacity. Please do not enter!</p>
                </div>
            {% endif %}
        {% else %}
            {% if present_location.id == location.id %}
                <form method=post action="{{ url_for('main.log_exit') }}">
                    <input id="location_code" name="location_code" type="hidden" value="{{ location.code }}">
                    <input type=submit class="pure-button button-out" value="EXIT">
                </form>
            {% else %}
                <div class="no-button">
                    <p>You need to leave {{ present_location.code }} before you can enter {{ location.code }}.</p>
                </div>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endmacro %}

{% macro trace_ul_full(tr, kind) %}
    <ul>
        <li>Token: {{ tr.token }}</li>
        {% if tr.contact %}
            <li>Contact: <a href="mailto:{{ tr.contact_mail }}">{{ tr.contact }}</a></li>
        {% endif %}
        <li>From {{ tr.start|nice_date }} until {{ tr.stop|nice_date }} (+{{ tr.length }}h)</li>
    </ul>
        {% if tr.description %}
            <p>{{ tr.description }}</p>
        {% endif %}
{% endmacro %}

{% macro trace_ul_light(tr, kind) %}
    {% if tr.active %}
        {% if tr.title %}
            <p><a href="{{ url_for('main.trace_detail', token=tr.token) }}"><b>{{ tr.title }}</b></a> ({{ tr.token }})<br>
            {{ kind }}</p>
        {% else %}
            <p><a href="{{ url_for('main.trace_detail', token=tr.token) }}"><b>{{ tr.token }}</b></a><br>
            {{ kind }}</p>
        {% endif %}


    {% endif %}
{% endmacro %}